<html>
<!DOCTYPE html>
<head>
  <meta name="description" content="Discover Network, automation and DevOps topics and latest trends, how to's and various tech related articles.">
  <meta name="keywords" content="Network, Automation, DevOps, NetDevOps, Cisco, Arista, Containerlab, Python">
  <meta charset="UTF-8">
  <html lang="en">
  {% if environment == "production" %}
  <link rel="canonical" href="https://sirhoppington.com/{{ url_for(request.endpoint) }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png')}}" alt="website favicon icon">
  {% if title %}
  <title>{{ title }} - SirHoppington - Networking and Automation Blog</title>
    <meta name="description" content= "{{ title }}">
  {% else %}
  <title>SirHoppington</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
<script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"> </script>
{% block head %}{% endblock %}
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="""nav-link" href="{{ url_for('blogs.get_all_blogs') }}"> <img
        src="{{url_for('static', filename='imgs/sirhoppington.png')}}" alt="Large Logo" class="img-logo d-none d-sm-block">
        <img src="{{url_for('static', filename='imgs/small.png')}}" alt="Small Logo" class="img-logo d-block d-sm-none"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for topic in topics %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blogs.get_tags', tag=topic.name) }}"> {{ topic.name }} </a>
                      </li>
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Posts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for blog in blogs %}
                            <a class="dropdown-item" href="{{ url_for('blogs.get_single_blog', title=blog.title)}}"> {{ blog.title }} </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="openSubscribe()">Subscribe</button>
            <div class="form-popup" id="myForm">
                <form action= "{{ url_for('login.subscribe')}}" method="post" class="form-container">
    <h2>Subscribe</h2>

                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Name" name="name" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <button type="submit" class="btn">Subscribe</button>
                    <button type="button" class="btn cancel" onclick="closeSubscribe()">Close</button>
                </form>
            </div>
        <script>
function openSubscribe() {
  document.getElementById("myForm").style.display = "block";
}

function closeSubscribe() {
  document.getElementById("myForm").style.display = "none";
}
</script>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
{% block content %}{% endblock %}
  <footer class="py-5 bg-light">
    <div class="container">
      <p class="m-0 text-center text-black-50">Copyright &copy; SirHoppington 2025</p>
        {% block foot %}{% endblock %}
    </div>
    <!-- /.container -->
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

