{% extends 'base.html' %}
{% block head %}
<meta name="description" content="{{ blog.summary }}">
<meta property="og:title" content="{{ blog.title }}" />
<meta property="og:description" content="{{ blog.summary }}" />
<meta property="og:image" content="{{ url_for('static', filename='imgs/' + blog.feature_image) }}" />
<meta property="og:type" content="article" />
<style>
li { list-style-type: none; }
</style>
<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  var disqus_config = function () {
  };
  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://hopnets.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{% endblock head %}
{% block content %}
<div class="container mt-5 pt-4">
<div class="card mb-4 shadow-sm">
<img class="img-fluid rounded-top" src="{{url_for('static', filename='imgs/' + blog.feature_image) }}" alt="Featured image for {{ blog.title }}">
<div class="card-body blog-content">
<h1 class="mb-3">{{ blog.title }}</h1>
<div class="d-flex align-items-center mb-3">
<img src="{{url_for('static', filename='imgs/' + blog.author.profile_pic) }}" class="rounded-circle me-3" style="width:50px; border:2px solid var(--primary);">
<div>
<strong><a href="{{ url_for('user_route.get_profile', id=blog.author.id) }}">{{ blog.author.firstname }} {{ blog.author.lastname }}</a></strong><br>
<small>{{ blog.created_at.strftime('%d-%m-%Y') }} — {{ reading_time }}</small>
</div>
</div>


<p>
{% for tag in second_half_tags %}
<a href="{{ url_for('blogs.get_tags', tag=tag.name) }}" class="badge bg-primary">{{ tag.name }}</a>
{% endfor %}
</p>


{{ html|safe }}
<hr>
</div>
</div>


<div class="card shadow-sm mb-5">
<h5 class="card-header">Related articles</h5>
<div class="card-body">
<ul>
{% for tag in query_blogs %}
{% if blog.title != tag.title %}
<li>
<a href="{{ url_for('blogs.get_single_blog', title=tag.title) }}">{{ tag.title }}</a>
<small class="text-muted">{{ tag.created_at.strftime('%d/%m/%Y') }}</small>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
</div>


<div id="disqus_thread"></div>
</div>
{% endblock content %}