{% extends 'base.html' %}
{% block head %}
    <style>.jumbotron {
    background-image: url("{{url_for('static', filename='imgs/nasa.jpg') }}");
    background-size: cover;}
    </style>
{% endblock %}
<meta name="description" content="Discover Network, automation and DevOps topics and latest trends, how to's and various tech related articles.">
{% block content %}
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ featured.title }}</h1>
        <p class="lead my-3"> {{ featured.summary }}</p>
            <p class="lead mb-0">
                <a href={{ url_for('blogs.get_single_blog', title=featured.title) }}> Continue reading..</a>
            </p>
        </div>
    </div>
<div class="card-deck">
{%  for blog in homepage %}
<div class="card my-4 box-shadow h-md-250">
    <div class="card-header">        
        <strong class="d-inline-block mb-2 text-primary">
                {%  for tag in tags %}
                    {% if tag[1].id == blog.id %}
                        <a href={{ url_for('blogs.get_tags', tag=tag[0].name) }}>{{ tag[0].name }}</a>
                    {% endif %}
                {% endfor %}
    </strong>
    </div>
    <img class="featured_image" alt="Thumbnail [200x250}" src="{{url_for('static', filename='imgs/'+blog.thumbnail) }}">
      <div class="card-body d-flex flex-column">
        <strong class="d-inline-block mb-2 lg text-primary">
            <a href={{ url_for('blogs.get_single_blog', title=blog.title) }}> {{ blog.title }}</a>
            </strong>
        <p class="text-secondary">{{ blog.summary }}</p>
      </div>
      <div class="card-footer text-muted">
        <div class="mb-1 text-muted"> Published: {{ blog.created_at.strftime('%d-%m-%Y') }} {{ estimate_reading_time(blog.content) }} </div>
      </div>
    </div>
{% endfor %}
</div>
    </div>
{% endblock content %}